* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 20px;
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  body {
    margin: 18.33px;
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  body {
    margin: 16.68px;
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  body {
    margin: 15px;
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  body {
    margin: 13.34px;
  }
}

h2 {
  font-size: 2rem;
}

br {
  height: 20px;
  line-height: 20px;
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  br {
    height: 18.33px;
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  br {
    height: 16.68px;
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  br {
    height: 15px;
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  br {
    height: 13.34px;
  }
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  br {
    line-height: 18.33px;
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  br {
    line-height: 16.68px;
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  br {
    line-height: 15px;
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  br {
    line-height: 13.34px;
  }
}

.scale {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  border: 1px solid black;
  padding: 20px;
  transform-origin: top right !important;
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  .scale {
    top: 18.33px;
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  .scale {
    top: 16.68px;
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  .scale {
    top: 15px;
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  .scale {
    top: 13.34px;
  }
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  .scale {
    right: 18.33px;
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  .scale {
    right: 16.68px;
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  .scale {
    right: 15px;
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  .scale {
    right: 13.34px;
  }
}
@media (max-resolution: 100dpi) {
  .scale .zmin {
    display: block;
  }
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  .scale .z100 {
    display: block;
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  .scale .z115 {
    display: block;
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  .scale .z125 {
    display: block;
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  .scale .z135 {
    display: block;
  }
}
@media (min-resolution: 150dpi) {
  .scale .zmax {
    display: block;
  }
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  .scale {
    transform-origin: top left;
    transform: scale(0.9165);
    margin-bottom: calc(var(--scale-height) * -0.0835);
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  .scale {
    transform-origin: top left;
    transform: scale(0.834);
    margin-bottom: calc(var(--scale-height) * -0.166);
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  .scale {
    transform-origin: top left;
    transform: scale(0.75);
    margin-bottom: calc(var(--scale-height) * -0.25);
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  .scale {
    transform-origin: top left;
    transform: scale(0.667);
    margin-bottom: calc(var(--scale-height) * -0.333);
  }
}
.scale p {
  font-size: 18px;
  display: none;
}

.fixed-box {
  border: 1px solid #000;
  position: relative;
  width: 300px;
  height: 200px;
  padding: 40px;
  background: #fff;
  max-width: 100%;
}
.fixed-box h2 {
  font-size: 2rem;
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  .fixed-box h2 {
    font-size: 1.833rem;
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  .fixed-box h2 {
    font-size: 1.668rem;
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  .fixed-box h2 {
    font-size: 1.5rem;
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  .fixed-box h2 {
    font-size: 1.334rem;
  }
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  .fixed-box {
    width: 274.95px;
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  .fixed-box {
    width: 250.2px;
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  .fixed-box {
    width: 225px;
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  .fixed-box {
    width: 200.1px;
  }
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  .fixed-box {
    height: 183.3px;
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  .fixed-box {
    height: 166.8px;
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  .fixed-box {
    height: 150px;
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  .fixed-box {
    height: 133.4px;
  }
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  .fixed-box {
    padding: 36.66px;
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  .fixed-box {
    padding: 33.36px;
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  .fixed-box {
    padding: 30px;
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  .fixed-box {
    padding: 26.68px;
  }
}

.fixed-box2 {
  position: relative;
  width: 300px;
  height: 200px;
  padding: 40px;
  background: #fff;
  max-width: 100%;
  border: 1px solid #000;
}

.fixed-box3 {
  position: relative;
  width: 300px;
  height: 200px;
  padding: 40px;
  background: #fff;
  max-width: 100%;
  border: 1px solid #000;
}

.separator {
  display: block;
  height: 20px;
  width: 100%;
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  .separator {
    height: 18.33px;
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  .separator {
    height: 16.68px;
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  .separator {
    height: 15px;
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  .separator {
    height: 13.34px;
  }
}

[data-scaleid=box1] {
  height: 200px;
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  [data-scaleid=box1] {
    transform-origin: top left;
    transform: scale(0.9165);
    margin-bottom: calc(var(--box1-height) * -0.0835);
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  [data-scaleid=box1] {
    transform-origin: top left;
    transform: scale(0.834);
    margin-bottom: calc(var(--box1-height) * -0.166);
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  [data-scaleid=box1] {
    transform-origin: top left;
    transform: scale(0.75);
    margin-bottom: calc(var(--box1-height) * -0.25);
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  [data-scaleid=box1] {
    transform-origin: top left;
    transform: scale(0.667);
    margin-bottom: calc(var(--box1-height) * -0.333);
  }
}

[data-scaleid=box2] {
  height: 150px;
}
@media (min-resolution: 100dpi) and (max-resolution: 110dpi) {
  [data-scaleid=box2] {
    transform-origin: top left;
    transform: scale(0.9165);
    margin-bottom: calc(var(--box2-height) * -0.0835);
  }
}
@media (min-resolution: 115dpi) and (max-resolution: 125dpi) {
  [data-scaleid=box2] {
    transform-origin: top left;
    transform: scale(0.834);
    margin-bottom: calc(var(--box2-height) * -0.166);
  }
}
@media (min-resolution: 125dpi) and (max-resolution: 135dpi) {
  [data-scaleid=box2] {
    transform-origin: top left;
    transform: scale(0.75);
    margin-bottom: calc(var(--box2-height) * -0.25);
  }
}
@media (min-resolution: 135dpi) and (max-resolution: 145dpi) {
  [data-scaleid=box2] {
    transform-origin: top left;
    transform: scale(0.667);
    margin-bottom: calc(var(--box2-height) * -0.333);
  }
}

/*# sourceMappingURL=style.css.map */
